.page-header{
    text-align: center;
    margin-top: 20px;
    margin-left: 650px;
    content: url("./Images/Movie_Magic_1995.png");
    align-content: center;

}
.page-header{
    color: blue;
}

.search-area{
    margin-top: 50px;
    margin-left: 30px;
}

