<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">



    <!-- Local CSS -->
    <link rel="stylesheet" href="{{ url_for("static", filename="css/styles.css")}}">
    
    <title>Movie Hawks!</title>
    
  </head>
  <body>
    <div class="page-header">
    
    </div>
    <hr>
      <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <div class="col-xs-6 col-md-2">
            <div class="search-area">
                    <form> 
            <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle sizing" id="year" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="far fa-calendar"></i> Year <i class="far fa-calendar"></i>
                    </button>
                    <div class="dropdown-menu" id="year-dropdown">
                        <h6 class="dropdown-header">SELECT YEAR</h6>
                    </div>
            </div>
            <hr>
        
            <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle sizing" id="month" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="far fa-calendar-alt"></i> Month <i class="far fa-calendar-alt"></i>
                    </button>
                    <div class="dropdown-menu" id="month-dropdown">
                        <h6 class="dropdown-header">SELECT MONTH</h6>
                    </div>
            </div>
            <hr> 
            <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle sizing" id="genre" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-cogs"></i> Genre <i class="fas fa-cogs"></i>
                    </button>
                    <div class="dropdown-menu" id="genre-dropdown">
                        <h6 class="dropdown-header">SELECT GENRE</h6>
                    </div>
            </div>
            <hr> 
            <input type="text" class="form-control sizing" id="actor" placeholder="Actor Name">
            <hr>
            <div class="btn-group">
                    <button type="button" class="btn btn-warning dropdown-toggle sizing" id="director" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-hands"></i> Director <i class="fas fa-hands"></i>
                    </button>
                    <div class="dropdown-menu" id="director-dropdown">
                        <h6 class="dropdown-header">SELECT DIRECTOR</h6>
                    </div>
            </div>
            <hr>
                    <input class="btn btn-primary" id="submit" type="submit" value="Generate Graphs"> 
                </form>
            </div>
        </div>
        <!-- Graph  Area-->
        <div class="col-xs-6 col-md-10">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link" id="trending" href="#">Trending <i class="fas fa-chart-line"></i></a>
                  <hr>
                  <div id="trending-graph">
                    Trending Graph
                  </div>
                  
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="financial" href="#">Financial <i class="fas fa-dollar-sign"></i></a>
                  <hr>
                  <div id="financial-graph">
                      Financial Graph
                    </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="ratings" href="#">Ratings <i class="fas fa-tachometer-alt"></i></a>
                  <hr>
                  <div id="ratings-graph">
                      Ratings Graph
                    </div>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" id="genre" href="#">Link</a>
                  <div id="genre-graph">
                    Genre Graph
                  </div>
                </li> -->
              </ul>
        </div>
    </div>



    <!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"><i class="far fa-copyright"></i>
    2018 Copyright:
    <p>Vinnie, Josh, Beverly, Laz, Rohan</p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

    <!--  JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/trending.js"></script>
  </body>
</html>