<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


    <!-- Local CSS -->
    <link rel="stylesheet" href="{{ url_for("static", filename="css/styles.css")}}">
    
    <title>Movie Hawks!</title>
    
  </head>
  <body>
    <div class="page-header">
    
    </div>
    <hr>
      <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <div class="col-xs-6 col-md-2">
            <div class="search-area">
            <form> 
                <div class="input-group mb-3">
                    <div class="input-group-prepend sizing">
                        <button class="btn btn-danger sizing " type="button"><i class="far fa-calendar"></i> Year</button>
                    </div>
                    <select class="custom-select" id="year-dropdown">
                      <option selected>SELECT YEAR</option>
                    </select>
                  </div>
            
                <div class="input-group mb-3">
                    <div class="input-group-prepend sizing">
                        <button class="btn btn-secondary sizing" type="button"><i class="far fa-calendar-alt"></i> Month</button>
                    </div>
                    <select class="custom-select" id="month-dropdown">
                      <option selected>SELECT MONTH</option>
                    </select>
                  </div>
             
                <div class="input-group mb-3">
                    <div class="input-group-prepend sizing">
                        <div class="input-group-prepend sizing">
                            <button class="btn btn-info sizing" type="button"><i class="fas fa-cogs"></i> Genre</button>
                        </div>
                    </div>
                    <select class="custom-select" id="genre-dropdown">
                      <option selected>SELECT GENRE</option>
                    </select>
                  </div>
             
                <div class="input-group mb-3">
                    <div class="input-group-prepend sizing">
                        <button class="btn btn-warning sizing" type="button"><i class="fas fa-hands"></i> Director</button>
                    </div>
                    <select class="custom-select" id="director-dropdown">
                      <option selected>SELECT DIRECTOR</option>
                    </select>
                  </div> 
             
                <div class="input-group mb-3">
                    <div class="input-group-prepend sizing">
                        <button class="btn btn-success sizing" type="button"><i class="fas fa-street-view"></i> Actor</button>
                    </div>
                    <select class="custom-select" id="actor-dropdown">
                      <option selected>SELECT ACTOR</option>
                    </select>
                  </div> 
              
            
            <hr>
                    <input class="btn btn-primary" id="submit" type="submit" value="Generate Graphs"> 
            </form>
            </div>
        </div>
        <!-- Graph  Area-->
        <div class="col-xs-6 col-md-10">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link" id="trending" href="#">Ratings <i class="fas fa-chart-line"></i></a>
                  <hr>
                  <!-- <div id="trending-graph">
                    
                  </div> -->
                  
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="financial" href="#">Financial <i class="fas fa-dollar-sign"></i></a>
                  <hr>
                  <!-- <div id="financial-graph">
                      
                    </div> -->
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="ratings" href="#">Success Factors <i class="fas fa-tachometer-alt"></i></a>
                  <hr>
                  <!-- <div id="ratings-graph">
                      
                    </div> -->
                </li>
                <div id="trending-graph">
                    
                </div>
                <div id="financial-graph">
                      
                </div>
                <div id="ratings-graph">
                      
                </div>

                <!-- <li class="nav-item">
                  <a class="nav-link" id="genre" href="#">Link</a>
                  <div id="genre-graph">
                    Genre Graph
                  </div>
                </li> -->
              </ul>
        </div>
    </div>



    <!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"><i class="far fa-copyright"></i>
    2018 Copyright:
    <p>Vinnie, Josh, Beverly, Laz, Rohan</p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

    <!--  JavaScript -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="../static/js/app.js"></script>
    <!-- <script src="../static/js/trending.js"></script> -->

    
  </body>
</html>